<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Application usign React-router</title>
    
</head>
<body>
    <div id="wrap">
        <div id="root"></div>
    </div>
    <script src="/bundle.js"></script>
</body>
</html>